@charset "UTF-8";

/**
 * Сброс стилей
 **/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
input {outline: 0;}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body {
	color: #FFFFFF;
}

.root{
	width: 100%;	
}

.header {
	display: flex;
flex-direction: row;
align-items: flex-start;
padding: 39px 221px;

position: absolute;
height: 99.54px;
left: 0px;
right: 0px;
top: 0px;

background: #000000;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
}

.logo {
	position: absolute;
	left: 2.08%;
	right: 91.2%;
	top: 9.2%;
	bottom: 56.85%;
}

.logo a {
	position: absolute;
left: 0%;
right: 0%;
top: 3.33%;
bottom: -3.33%;

background: url(../img/logo.png);
}

.header .menu ul {
	display: flex;
	list-style: none;
}

/* .header .menu ul {
	 margin-left: 52px; 
} */
.header .menu ul li:first-child {
	position: static;
left: 11.51%;
right: 83.7%;
top: 39.18%;
bottom: 39.18%;

font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;

/* input color */

color: #B09A81;

text-shadow: 0px 0px 0px #000000;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 33px;
}

.header .menu ul li:last-child {
	position: static;
left: 18.02%;
right: 75.26%;
top: 39.18%;
bottom: 39.18%;

font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;

/* input color */

color: #B09A81;

text-shadow: 0px 0px 0px #000000;

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 33px;
}

.header .menu ul a {
	text-decoration: none;
	color: #B09A81;
	font-size: 20px;
	line-height: 25,6px;
}


.content {
	position: absolute;
width: 1920px;
height: 980px;
left: 0px;
top: 100px;

background: url(../img/bg_1.jpg);
	
}

.text p:first-child {
	font-weight: 700;
	font-size: 72px;
	line-height: 80px;
	/* padding: 195px 0 0 180px; */
	position: absolute;
	top: 327px;
	left: 221px;
}

.text p:last-child {
	position: absolute;
width: 549px;
height: 61px;
left: 221px;
top: 632px;

font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;

color: #FFFFFF;

text-shadow: 0px 0px 0px #000000;
}

button {
	display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 15px;

position: absolute;
width: 180px;
height: 60px;
left: calc(50% - 180px/2 - 647px);
top: 762px;

/* input color */

background: #B09A81;
border-radius: 8px;

font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
margin: 20px 0px;
}